.countries_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
  .countries_item {
    width: 30%;
    height: 250px;
    margin-top: 10px;
  }
  
  .countries_img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  
  .countries_link {
    font-size: 14px;
    text-decoration: none;
  }
  
  @media (max-width: 400px) {
    
    .countries_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
    }
    
    .countries_item {
      width: 80%;
      height: 250px;
      margin-top: 10px;
    }
    
    .countries_img {
      display: block;
      width: 80%;
      height: 80%;
      margin: 0 auto;
    }
    
    .countries_link {
      font-size: 24px;
      text-decoration: none;
    }
  
    .all_countries {
      font-size: 36px;
    }
  }